<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{  }}</title>
  <meta name="description" content="Gerard Niemira&#39;s homepage">

  <link rel="stylesheet" href="/assets/main.css">
 
  <!-- Start Bootstrap -->

<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://use.fontawesome.com/a37a246871.js"></script>
  <!-- End Bootstrap -->

  <link rel="stylesheet" type="text/css" href="/assets/styles.css">
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="Gerard Niemira" href="/feed.xml">
  
  
</head>


  <body>
  <div class="container">
    <header class="row" id="site-header">
      <div class="col-md-7">
     
        <p class="hero">Gerard Niemira</p>
        <ul class="list-inline" id="contact-menu">
          <li><a href="http://bit.ly/gn-github"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><a href="http://bit.ly/gjn-tweets"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://bit.ly/gn-linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a mailto="gniemira@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        </ul>
  
      </div>
<!--       <div class="col-md-5" id="site-menu">
        <ul class="list-inline">
          <li><a href="">Blog</a></li>
          <li><a href="">Projects</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div> -->
    </header>
    <div class="row" id="main-body">
<!--       <div class="content col-md-12">
        {{ content }}
      </div>   -->
    </div>
 
    <footer class="row">
      <div class="col-md-12">
        <p><small>&copy; 2016 - Gerard Niemira | <a href="https://www.goodreads.com/quotes/12757-do-all-the-good-you-can-by-all-the-means">Do all the good you can.</a></small></p>
      </div>
    </footer>
  </div>



  </body>

</html>
